@import '../../../main-styles.scss';

.root{
    display: flex;
    width: 100%;
    position: relative;

    &:hover{
        .x-icon-button{
            opacity: 1;
            transform: scale(1);
        }
    }

    .x-icon-button{
        position: absolute;
        height: 26px;
        width: 26px;
        border-radius: 50%;
        background: lightcoral;
        background-image: url('../../../assets/delete_icon.svg');
        background-repeat: no-repeat;
        background-position: center;
        right: -13px;
        top: -13px;

        transition: opacity 0.2s ease-in, transform 0.2s ease-in;
        transform: scale(0);
        opacity: 0;

        cursor: pointer;

        &:hover{
            transform: scale(1.2);
        }
    }
}

.expense-item{
    display: flex;
    width: 100%;
    background-color: $grey-light;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;

    transition: background-color 0.2s ease-out;
    &:hover{
        background-color: darken($grey-light, 4%);
    }

    .expense-description{
        display: flex;
        flex-grow: 1;
        font-size: 18px;
        margin-left: 5px;
        align-items: center;
    }

    .expense-amount{
        padding: 5px;
        border-radius: 3px;
    }
}

.item{
    p{
        color: $green;
    }
    .expense-amount{
        background-color: $green-light;
    }
}

.expense{
    p{
        color: $red;
    }
    .expense-amount{
        background-color: $red-light;
    }
}