<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field is-narrow">
                <p class="control">
                    <input type="number" required name="amount" style="width: 100px;" class="input" placeholder="Amount" min="0" [ngModel]="item.amount">
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <input type="text" required name="description" class="input" placeholder="Expense discription" [ngModel]="item.description">
                </p>
            </div>
            <div class="field is-narrow">
                <button type="submit" class="button" [ngClass]="{ 'is-primary': isNewExpense, 'is-success': !isNewExpense }" [disabled]="!itemForm.valid">
                    <p *ngIf="isNewExpense">Add Item</p>
                    <p *ngIf="!isNewExpense">Save</p>
                </button>
            </div>
        </div>
    </div>
</form>